.ContentRow {
  flex: 1 1 auto;
  display: flex;
  margin-top: -25px;
  flex-wrap: wrap;
}

.ContentRow--alignRight {
  justify-content: flex-end;
}

.ContentRow--spaceAround {
  justify-content: space-around;
}

.ContentRow > * {
  margin-top: 25px;
}
